body {
    margin: 0;
    background-color: rgb(241, 232, 219);
}

.app {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 380px;
    background: rgb(17, 17, 17);
    padding: 15px;

    &_display {
        background-color: rgb(116, 12, 12);
        padding: 15px;
    }

    &_actions {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        justify-content: space-around;
    }
    button {
        width: 100px;
        height: 35px;
        -webkit-appearance: none;
        outline: none;
        
    }
}