body {
    margin: 0;
    background-color: rgb(235, 221, 201);
}

.app {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 380px;


    &_display {
        background-color: rgb(116, 12, 12);
        padding: 0px 15px;
        height: 40px;
        text-align: right;
        color: blanchedalmond;
        border-radius: 16px 16px 0px 0px;
        line-height: 40px;

    }

    &_actions {
        background: #171717;
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0px;
        border-radius: 0px 0px 16px 16px;
    }
    button {
        width: calc(100% / 3 - 30px);
        height: 35px;
        -webkit-appearance: none;
        outline: none;
        border: none;
        margin: 5px 15px;
    }

    .action {
        color: burlywood;
        background-color: rgb(105, 0, 0);
    }

    .operator {
        background-color: rgb(236, 206, 206);
    }

    .blank {
        opacity: 0;
    }
}